<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка фільма</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../static/assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="../../static/assets/css/core/libs.min.css" th:href="@{/assets/css/core/libs.min.css}">
    <!-- Aos Animation Css -->
    <link rel="stylesheet" href="../../static/assets/vendor/aos/dist/aos.css" th:href="@{/assets/vendor/aos/dist/aos.css}">
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="../../static/assets/css/hope-ui.min.css?v=4.0.0"
        th:href="@{/assets/css/hope-ui.min.css?v=4.0.0}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="../../static/assets/css/custom.min.css?v=4.0.0" th:href="@{/assets/css/custom.min.css?v=4.0.0}">
    <!-- Dark Css -->
    <link rel="stylesheet" href="../../static/assets/css/dark.min.css" th:href="@{/assets/css/dark.min.css}">
    <!-- Customizer Css -->
    <link rel="stylesheet" href="../../static/assets/css/customizer.min.css" th:href="@{/assets/css/customizer.min.css}">
    <!-- RTL Css -->
    <link rel="stylesheet" href="../../static/assets/css/rtl.min.css" th:href="@{/assets/css/rtl.min.css}">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <aside th:replace="~{admin/index::sidebar}"></aside>
    <main class="main-content">
        <div id="placeholder__head__nav" th:replace="~{admin/index::head__nav}"></div>
        <section class="mb-5" id="current__film">
            <div class="container-fluid text-end pe-5" th:object="${movieDto}">
                <form action="/admin/movies/save/" method="post" enctype="multipart/form-data">
                    <input type="number" name="id" id="id" th:field="*{id}" hidden>
                    <div class="d-flex flex-column text-dark">
                        <div class="row mt-3 align-items-baseline">
                            <span class="col-2">Оригінальна назва фільма</span>
                            <div class="col-10">
                                <input class="form-control" type="text" name="nativeTitle" id="native__title"
                                    th:field="*{nativeTitle}">
                            </div>
                        </div>
                        <div class="row mt-3 align-items-baseline">
                            <span class="col-2">Назва фільма</span>
                            <div class="col-10">
                                <input class="form-control" type="text" name="uaTitle" id="ua__title"
                                    th:field="*{uaTitle}">
                            </div>
                        </div>
                        <div class="row mt-3 align-items-baseline">
                            <span class="col-2">Вікові обмеження</span>
                            <div class="col-10">
                                <input class="form-control" type="number" name="ageCenz" id="ageCenz"
                                    th:field="*{ageCenz}">
                            </div>
                        </div>
                        <div class="row mt-3 align-items-baseline text-dark">
                            <span class="col-2">Опис</span>
                            <div class="col-10">
                                <textarea class="form-control" name="description" id="description" rows="8"
                                    th:field="*{description}"></textarea>
                            </div>
                        </div>
                        <div class="row mt-3 align-items-baseline text-dark">
                            <span class="col-2">Постер</span>
                            <div class="col-10 row">
                                <div class="col-6 text-start">
                                    <img class="text-bg-info" src="https://picsum.photos/id/174/400/600" alt=""
                                        style="width: 400px; height: 600px;">
                                </div>
                                <div class="col-6 align-content-center">
                                    <div class="d-grid gap-3">
                                        <button class="btn btn-primary" type="button">Завантажити</button>
                                        <button class="btn btn-outline-danger " type="button">Видалити</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 align-items-baseline">
                            <span class="col-2">Галерея картинок</span>
                            <div class="col-10">
                                <div class="row row-cols-4 g-3 align-items-center">
                                    <div th:each="i : ${#numbers.sequence(1, 6)}">
                                        <img class="img-fluid img-thumbnail mb-2"
                                            src="https://picsum.photos/id/548/400/225" alt=""
                                            style="width: 400;height: 225;">
                                        <input class="form-control" type="file" name="picture" id="film__input__picture"
                                            accept="image/*">
                                    </div>
                                    <i class="bi bi-plus-circle-fill fs-1 text-dark text-center align-self-center"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 align-items-baseline">
                            <span class="col-2">Посилання на трейлер</span>
                            <div class="col-10">
                                <input class="form-control" type="text" name="trailerUrl" id="trailer__url">
                            </div>
                        </div>
                        <div class="row mt-3 align-items-baseline">
                            <span class="col-2">Tип фільма</span>
                            <div class="col-10 text-start">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" name="has2D" id="check__input2d"
                                        th:field="*{has2D}">
                                    <label for="check__input2d" class="form-check-label">2D</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" name="has3D" id="check__input3d"
                                        th:field="*{has3D}">
                                    <label for="check__input3d" class="form-check-label">3D</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" name="hasImax" id="check__inputImax"
                                        th:field="*{hasImax}">
                                    <label for="check__inputImax" class="form-check-label">IMAX</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 align-items-baseline">
                            <p class="col-2 mt-3">Деталі фільма</p>
                            <div class="col-10">
                                <div class="border border-1 border-dark rounded-3">
                                    <div class="d-flex flex-column py-3" th:object="${movieDto.details}">
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Рік</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="year" id="year"
                                                    th:field="*{year}">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Країна</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="country" id="country"
                                                    th:field="*{country}">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Актор</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="actors" id="actors"
                                                th:field="*{actors}">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Режисер</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="directors" id="directors"
                                                th:field="*{directors}">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Сценарист</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="screenwriters" id="screenwriters"
                                                    th:field="*{screenwriters}">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Композитор</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="compositors" id="compositors"
                                                    th:field="*{compositors}">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Продюсер</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="producers" id="producers"
                                                    th:field="*{producers}">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Жанр</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="genres" id="genres"
                                                th:field="*{genres}">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Бюджет</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="budget" id="budget"
                                                    th:field="*{budget}">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Тривалість</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="time" id="seo__keywords"
                                                th:field="*{time}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 align-items-baseline">
                            <p class="col-2 mt-3">Seo block</p>
                            <div class="col-10">
                                <div class="border border-1 border-dark rounded-3">
                                    <div class="d-flex flex-column py-3">
                                        <div class="row align-items-baseline">
                                            <span class="col-2">URL</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="url" id="seo__url">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Заголовок</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="tilte" id="seo__title">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Ключові слова</span>
                                            <div class="col-9">
                                                <input class="form-control" type="text" name="keywords" id="seo__keywords">
                                            </div>
                                        </div>
                                        <div class="row align-items-baseline">
                                            <span class="col-2">Опис</span>
                                            <div class="col-9">
                                                <textarea class="form-control" name="description" id="seo__description" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button type="submit" class="btn btn-success">Зберегти</button>
                        <button type="reset" class="btn btn-outline-danger">Відміна</button>
                    </div>
                </form>
            </div>
        </section>

        <div id="placeholder__footer" th:replace="~{admin/index::footer}"></div>
    </main>

    <!-- Library Bundle Script -->
    <script src="../../static/assets/js/core/libs.min.js" th:src="@{/assets/js/core/libs.min.js}"></script>
    <!-- External Library Bundle Script -->
    <script src="../../static/assets/js/core/external.min.js" th:src="@{/assets/js/core/external.min.js}"></script>
    <!-- Widgetchart Script -->
    <script src="../../static/assets/js/charts/widgetcharts.js" th:src="@{/assets/js/charts/widgetcharts.js}"></script>
    <!-- Mapchart Script -->
    <script src="../../static/assets/js/charts/vectore-chart.js" th:src="@{/assets/js/charts/vectore-chart.js}"></script>
    <script src="../../static/assets/js/charts/dashboard.js" th:src="@{/assets/js/charts/dashboard.js}"></script>
    <!-- fslightbox Script -->
    <script src="../../static/assets/js/plugins/fslightbox.js" th:src="@{/assets/js/plugins/fslightbox.js}"></script>
    <!-- Settings Script -->
    <script src="../../static/assets/js/plugins/setting.js" th:src="@{/assets/js/plugins/setting.js}"></script>
    <!-- Slider-tab Script -->
    <script src="../../static/assets/js/plugins/slider-tabs.js" th:src="@{/assets/js/plugins/slider-tabs.js}"></script>
    <!-- Form Wizard Script -->
    <script src="../../static/assets/js/plugins/form-wizard.js" th:src="@{/assets/js/plugins/form-wizard.js}"></script>
    <!-- AOS Animation Plugin-->
    <script src="../../static/assets/vendor/aos/dist/aos.js" th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
    <!-- App Script -->
    <script src="../../static/assets/js/hope-ui.js" th:src="@{/assets/js/hope-ui.js}" defer></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Movie Page Scripts -->
    <script src="../../static/js/admin/movie-page-scripts.js" th:src="@{/js/admin/movie-page-scripts.js}" defer></script>
</body>

</html>