<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагування інформації про дитячу кімнату</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../static/assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="../../static/assets/css/core/libs.min.css" th:href="@{/assets/css/core/libs.min.css}">
    <!-- Aos Animation Css -->
    <link rel="stylesheet" href="../../static/assets/vendor/aos/dist/aos.css"
        th:href="@{/assets/vendor/aos/dist/aos.css}">
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="../../static/assets/css/hope-ui.min.css" th:href="@{/assets/css/hope-ui.min.css}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="../../static/assets/css/custom.min.css" th:href="@{/assets/css/custom.min.css}">
    <!-- Dark Css -->
    <link rel="stylesheet" href="../../static/assets/css/dark.min.css" th:href="@{/assets/css/dark.min.css}">
    <!-- Customizer Css -->
    <link rel="stylesheet" href="../../static/assets/css/customizer.min.css"
        th:href="@{/assets/css/customizer.min.css}">
    <!-- RTL Css -->
    <link rel="stylesheet" href="../../static/assets/css/rtl.min.css" th:href="@{/assets/css/rtl.min.css}">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <aside th:replace="~{admin/index::sidebar}"></aside>
    <main class="main-content">
        <div id="placeholder__head__nav" th:replace="~{admin/index::head__nav}"></div>
        <section class="mb-5">
            <div class="container-fluid pe-5">
                <div class="container py-4">
                    <div class="form-check form-switch d-flex justify-content-end fs-3 mb-4 ms-auto">
                        <input class="form-check-input" id="contacts_status" type="checkbox" role="switch">
                        <label class="form-check-label ms-3" for="contacts_status">OFF</label>
                    </div>
                    <div class="border border-1 border-dark rounded-3 p-4 mb-4" th:each="contact, stat : ${contacts}">
                        <form action="#" method="post" enctype="multipart/form-data">

                            <input type="number" name="id" th:value="*{contact.id}" hidden>
                            <div class="row gap-1 align-items-baseline mb-3">
                                <label class="col-2 form-label text-end">
                                    Назва кінотеатра
                                </label>
                                <div class="col-9">
                                    <input type="text" class="form-control w-100" name="title"
                                        th:value="${contact.title}">
                                </div>
                            </div>
                            <div class="row gap-1 align-items-baseline mb-3">
                                <label class="col-2 form-label text-end">
                                    Адреса
                                </label>
                                <div class="col-9">
                                    <textarea class="form-control" rows="4" name="address" 
                                        th:text="${contact.address}">
                                    </textarea>
                                </div>
                            </div>
                            <div class="row gap-1 align-items-baseline mb-3">
                                <label class="col-2 form-label text-end">
                                    Координати для мапи
                                </label>
                                <div class="col-9">
                                    <input type="text" class="form-control" name="coordinates"
                                        th:value="${contact.coordinates}">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success" id="save__btn">Зберегти</button>
                </div>
            </div>
        </section>

        <div id="placeholder__footer" th:replace="~{admin/index::footer}"></div>
    </main>

    <!-- Library Bundle Script -->
    <script src="../../static/assets/js/core/libs.min.js" th:src="@{/assets/js/core/libs.min.js}"></script>
    <!-- External Library Bundle Script -->
    <script src="../../static/assets/js/core/external.min.js" th:src="@{/assets/js/core/external.min.js}"></script>
    <!-- Widgetchart Script -->
    <script src="../../static/assets/js/charts/widgetcharts.js" th:src="@{/assets/js/charts/widgetcharts.js}"></script>
    <!-- Mapchart Script -->
    <script src="../../static/assets/js/charts/vectore-chart.js"
        th:src="@{/assets/js/charts/vectore-chart.js}"></script>
    <script src="../../static/assets/js/charts/dashboard.js" th:src="@{/assets/js/charts/dashboard.js}"></script>
    <!-- fslightbox Script -->
    <script src="../../static/assets/js/plugins/fslightbox.js" th:src="@{/assets/js/plugins/fslightbox.js}"></script>
    <!-- Settings Script -->
    <script src="../../static/assets/js/plugins/setting.js" th:src="@{/assets/js/plugins/setting.js}"></script>
    <!-- Slider-tab Script -->
    <script src="../../static/assets/js/plugins/slider-tabs.js" th:src="@{/assets/js/plugins/slider-tabs.js}"></script>
    <!-- Form Wizard Script -->
    <script src="../../static/assets/js/plugins/form-wizard.js" th:src="@{/assets/js/plugins/form-wizard.js}"></script>
    <!-- AOS Animation Plugin-->
    <script src="../../static/assets/vendor/aos/dist/aos.js" th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
    <!-- App Script -->
    <script src="../../static/assets/js/hope-ui.js" th:src="@{/assets/js/hope-ui.js}" defer></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Edit about scripts -->
    <script src="../../static/js/admin/edit-contacts-script.js" th:src="@{/js/admin/edit-contacts-script.js}"></script>

</body>

</html>