<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагування інформації про дитячу кімнату</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../static/assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="../../static/assets/css/core/libs.min.css" th:href="@{/assets/css/core/libs.min.css}">
    <!-- Aos Animation Css -->
    <link rel="stylesheet" href="../../static/assets/vendor/aos/dist/aos.css"
        th:href="@{/assets/vendor/aos/dist/aos.css}">
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="../../static/assets/css/hope-ui.min.css" th:href="@{/assets/css/hope-ui.min.css}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="../../static/assets/css/custom.min.css" th:href="@{/assets/css/custom.min.css}">
    <!-- Dark Css -->
    <link rel="stylesheet" href="../../static/assets/css/dark.min.css" th:href="@{/assets/css/dark.min.css}">
    <!-- Customizer Css -->
    <link rel="stylesheet" href="../../static/assets/css/customizer.min.css"
        th:href="@{/assets/css/customizer.min.css}">
    <!-- RTL Css -->
    <link rel="stylesheet" href="../../static/assets/css/rtl.min.css" th:href="@{/assets/css/rtl.min.css}">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <aside th:replace="~{admin/index::sidebar}"></aside>
    <main class="main-content">
        <div id="placeholder__head__nav" th:replace="~{admin/index::head__nav}"></div>
        <section class="mb-5">
            <div class="container-fluid text-end pe-5">
                <form action="#">
                    <div class="text-dark mt-4" th:each="i : ${#numbers.sequence(1, 3)}">
                        <div class="d-flex flex-column border border-1 border-dark rounded-3 py-4 gap-3">
                            <div class="row">
                                <label for="theater_title_${i}" class="col-2">Назва кінотеатру</label>
                                <div class="col-9">
                                    <input type="text" name="title" id="theater_title_${i}" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label for="theater_address_${i}" class="col-2">Адреса</label>
                                <div class="col-9">
                                    <textarea name="address" id="theater_address_${i}" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <label for="theater_coordinates_${i}" class="col-2">Координати для мапи</label>
                                <div class="col-9">
                                    <input type="text" name="coordinates" id="theater_coordinates_${i}" class="form-control" rows="4">
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <span class="col-2">Лого</span>
                                <img src="https://picsum.photos/id/945/600/400" alt="Theater logo" 
                                    style="width: 400; height: 225px;" class="col img-fluid">
                                <div class="col text-start">
                                    <button class="col btn btn-success" >Завантажити</button>
                                    <button class="col btn btn-danger">Видалити</button>
                                </div>
                                <input type="file" name="" id="theter_logo_input_${i}" hidden>s
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 align-items-baseline text-dark">
                        <p class="col-2 mt-3">Seo block</p>
                        <div class="col-10">
                            <div class="border border-1 border-dark rounded-3">
                                <div class="d-flex flex-column py-3">
                                    <div class="row align-items-baseline">
                                        <span class="col-2">URL</span>
                                        <div class="col-9">
                                            <input id="seo__url" class="form-control" type="text" name="url">
                                        </div>
                                    </div>
                                    <div class="row align-items-baseline">
                                        <span class="col-2">Заголовок</span>
                                        <div class="col-9">
                                            <input id="seo__title" class="form-control" type="text" name="title">
                                        </div>
                                    </div>
                                    <div class="row align-items-baseline">
                                        <span class="col-2">Ключові слова</span>
                                        <div class="col-9">
                                            <input id="seo__keywords" class="form-control" type="text"
                                                name="keywords">
                                        </div>
                                    </div>
                                    <div class="row align-items-baseline">
                                        <span class="col-2">Опис</span>
                                        <div class="col-9">
                                            <textarea id="seo__description" class="form-control" name="description"
                                                rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button type="submit" class="btn btn-success">Зберегти</button>
                        <button type="reset" class="btn btn-outline-danger">Відміна</button>
                    </div>
                </form>
            </div>
        </section>

        <div id="placeholder__footer" th:replace="~{admin/index::footer}"></div>
    </main>

    <!-- Library Bundle Script -->
    <script src="../../static/assets/js/core/libs.min.js" th:src="@{/assets/js/core/libs.min.js}"></script>
    <!-- External Library Bundle Script -->
    <script src="../../static/assets/js/core/external.min.js" th:src="@{/assets/js/core/external.min.js}"></script>
    <!-- Widgetchart Script -->
    <script src="../../static/assets/js/charts/widgetcharts.js" th:src="@{/assets/js/charts/widgetcharts.js}"></script>
    <!-- Mapchart Script -->
    <script src="../../static/assets/js/charts/vectore-chart.js"
        th:src="@{/assets/js/charts/vectore-chart.js}"></script>
    <script src="../../static/assets/js/charts/dashboard.js" th:src="@{/assets/js/charts/dashboard.js}"></script>
    <!-- fslightbox Script -->
    <script src="../../static/assets/js/plugins/fslightbox.js" th:src="@{/assets/js/plugins/fslightbox.js}"></script>
    <!-- Settings Script -->
    <script src="../../static/assets/js/plugins/setting.js" th:src="@{/assets/js/plugins/setting.js}"></script>
    <!-- Slider-tab Script -->
    <script src="../../static/assets/js/plugins/slider-tabs.js" th:src="@{/assets/js/plugins/slider-tabs.js}"></script>
    <!-- Form Wizard Script -->
    <script src="../../static/assets/js/plugins/form-wizard.js" th:src="@{/assets/js/plugins/form-wizard.js}"></script>
    <!-- AOS Animation Plugin-->
    <script src="../../static/assets/vendor/aos/dist/aos.js" th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
    <!-- App Script -->
    <script src="../../static/assets/js/hope-ui.js" th:src="@{/assets/js/hope-ui.js}" defer></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Edit about scripts -->
    <script src="../../static/js/admin/edit-contacts-script.js" th:src="@{/js/admin/edit-contacts-script.js}"></script>s

</body>

</html>