<!doctype html>
<html lang="ua" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Розклад</title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" th:href="@{/assets/css/core/libs.min.css}">
    <!-- Aos Animation Css -->
    <link rel="stylesheet" th:href="@{/assets/vendor/aos/dist/aos.css}">
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" th:href="@{/assets/css/hope-ui.min.css}">
    <!-- Custom Css -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.min.css}">
    <!-- Dark Css -->
    <link rel="stylesheet" th:href="@{/assets/css/dark.min.css}">
    <!-- Customizer Css -->
    <link rel="stylesheet" th:href="@{/assets/css/customizer.min.css}">
    <!-- RTL Css -->
    <link rel="stylesheet" th:href="@{/assets/css/rtl.min.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body th:with="today=${#temporals.createToday()}">
    <!--Nav Start-->
    <nav class="navbar navbar-expand-md" th:replace="~{public/index :: navbar}"></nav>
    <!--Nav End-->
    <!-- Main Section Start -->
    <main class="container-fluid" id="main-content"
        th:with="year=${#temporals.year(today)}, month=${#temporals.month(today)}, day=${#temporals.day(today)}">
        <section class="container mt-4" id="choices">
            <div class="d-flex justify-items-beetwen align-items-center">
                <div class="form-check text-bg-primary fs-5 p-2 rounded-2">
                    <span class="pe-4">Показувати тільки</span>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="2D_check" checked>
                        <label for="2D_check" class="form-check-label">2D</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="3D_check" checked>
                        <label for="3D_check" class="form-check-label">3D</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="Imax_check" checked>
                        <label for="Imax_check" class="form-check-label">Imax</label>
                    </div>
                </div>
                <div class="w-50 ms-auto d-flex gap-2 justify-content-between align-items-baseline">
                    <select class="form-select form-select-sm" name="theater" id="theater__select"
                        aria-label="Theaters select">
                        <option selected>Кінотеатр</option>
                        <option th:each="t : ${theaters}" th:value="${t}">
                            [[${t}]]
                        </option>
                    </select>
                    <select class="form-select form-select-sm" name="date" id="dates__select">
                        <option selected>Дата</option>
                        <option th:each="d : ${dates}" th:value="${d}">
                            [[${d}]]
                        </option>
                    </select>
                    <select class="form-select form-select-sm" name="movie" id="movie__select">
                        <option selected>Фільм</option>
                        <option th:each="m : ${movies}" th:value="${m}">
                            [[${m}]]
                        </option>
                    </select>
                    <select class="form-select form-select-sm" name="auditorium" id="auditorium__select">
                        <option selected>Зал</option>
                        <option th:each="a : ${auditoriums}" th:value="${a}">
                            [[${a}]]
                        </option>
                    </select>
                </div>
            </div>
        </section>
        <section class="container mt-4" id="schedules__tables" th:fragment="scheduleTables">
            <div th:each="table : ${tables}">
                <h5 th:with="temporal=${table.key}">
                    [[ ${#temporals.day(temporal)} ]] [[ ${#temporals.monthName(temporal)} ]],
                    [[ ${#temporals.dayOfWeekName(temporal)} ]]
                </h5>
                <div class="d-flex">
                    <div class="w-75 border border-3 border-warning rounded rounded-1">
                        <table class="table table-sm table-hover table-borderless table-responsive-md">
                            <thead class="text-center table-dark position-sticky top-0">
                                <tr scope="row">
                                    <th scope="col">Час</th>
                                    <th scope="col">Фільм</th>
                                    <th scope="col">Кінотеатр</th>
                                    <th scope="col">Зал</th>
                                    <th scope="col">Ціна в грн.</th>
                                    <th scope="col" class="px-1">Бронювати</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row" class="align-baseline fs-6" th:each="row : ${table.value}">
                                    <td class="align-middle text-center py-1" th:text="${row.time}">
                                        Lorem ipsum dolor sit amet.
                                    </td>
                                    <td class="align-middle ps-4 py-1" th:text="${row.movie}">
                                        Quod expedita cum at laudantium.
                                    </td>
                                    <td class="align-middle ps-4 py-1" th:text="${row.theater}">
                                        Architecto provident nemo vero quibusdam.
                                    </td>
                                    <td class="align-middle text-center py-1" th:text="${row.auditorium}">
                                        Possimus est provident corporis doloremque.
                                    </td>
                                    <td class="align-middle text-center py-1" th:text="${row.price}">
                                        Minima dolor dolorem soluta aliquam.
                                    </td>
                                    <td class="text-center align-middle py-1">
                                        <button type="button" class="btn border-0 p-0 text-success fs-4 lh-1 fw-bold"
                                            th:onclick="goToBooking(
                                                [[ ${table.key} ]], [[ ${row.time} ]], [[ ${row.movieId} ]] ,
                                                [[ ${row.theater} ]], [[ ${row.auditorium} ]], [[ ${row.price} ]]
                                            )">
                                            <i class="bi bi-plus-square-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="w-25 mb-3">
                        <div class="ms-4 w-100 h-100 border border-1 border-black rounded rounded-2 text-center">
                            <p>ТУТ МОГЛА БУТИ ВАША РЕКЛАМА</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Main Section End -->
    <!-- Footer Section Start -->
    <footer class="footer p-4 my-4" th:replace="~{public/index :: footer}"></footer>
    <!-- Footer Section End -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"
        defer></script>
    <script th:src="@{/js/public/schedule_page_scripts.js}"></script>
</body>

</html>