<!doctype html>
<html lang="ua" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Контакти </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../static/assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="../../static/assets/css/core/libs.min.css" th:href="@{/assets/css/core/libs.min.css}">
    <!-- Aos Animation Css -->
    <link rel="stylesheet" href="../../static/assets/vendor/aos/dist/aos.css"
        th:href="@{/assets/vendor/aos/dist/aos.css}">
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="../../static/assets/css/hope-ui.min.css" th:href="@{/assets/css/hope-ui.min.css}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="../../static/assets/css/custom.min.css" th:href="@{/assets/css/custom.min.css}">
    <!-- Dark Css -->
    <link rel="stylesheet" href="../../static/assets/css/dark.min.css" th:href="@{/assets/css/dark.min.css}">
    <!-- Customizer Css -->
    <link rel="stylesheet" href="../../static/assets/css/customizer.min.css"
        th:href="@{/assets/css/customizer.min.css}">
    <!-- RTL Css -->
    <link rel="stylesheet" href="../../static/assets/css/rtl.min.css" th:href="@{/assets/css/rtl.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
    <!--Nav Start-->
    <nav class="navbar navbar-expand-md" th:replace="~{public/index :: navbar}"></nav>
    <!--Nav End-->
    <!-- Main Section Start -->
    <main class="container-fluid" id="main-content">
        <h3 class="text-center mt-4"> Контакти </h3>
        <div class="container" id="advertising">
            <div class="row row-cols-2 g-0 gap-0 mt-4">
                <div class="col-10 p-4">
                    <div th:each="c, stat : ${contacts}">
                        <div class="row row-cols-2">
                            <div class="col d-flex align-items-center">
                                <h4 class="w-50">Кінотеатр [[${stat.count}]]</h4>
                                <div class="w-25 ms-auto">
                                    <img class="img-fluid img-thumbnail" th:src="${c.logoUrl}" alt="theater logo">
                                </div>
                            </div>
                            <div class="col d-flex flex-column fs-6">
                                <div>Кінотеатр "[[${c.title}]]"</div>
                                <div th:text="${c.address}"></div>
                                <div>Бронювання квитків [[${c.phone1}]], [[${c.phone2}]]</div>
                            </div>
                        </div>
                        <div class="mt-2 row row-cols-2">
                            <div class="col" style="height: 320px;">
                                <img class="img-fluid" th:src="${c.bannerUrl}" alt="theater banner">
                            </div>
                            <input type="text" th:value="${c.coordinates}" hidden>
                            <div class="col maps" th:id="|map_${stat.count}|" style="height: 320px;"></div>
                        </div>

                    </div>
                </div>
                <div class="mt-5 col-2 border border-1 border-black"></div>
            </div>
    </main>
    <!-- Main Section End -->
    <!-- Footer Section Start -->
    <footer class="footer p-4 my-4" th:replace="~{public/index :: footer}"></footer>
    <!-- Footer Section End -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"
        defer>
        </script>

    <script th:src="@{/js/public/contacts_scripts.js}"></script>

</body>

</html>