#main-content {
  background-image: url("../../pictures/client/Постер_фільму_Захар_Беркут_2019.jpg");
  background-attachment: fixed;
  background-repeat: round;
}

#banners__carousel img {
  height: 150%;
}

.footer ul {
  list-style: none;
}
